.slide_wrap{
    height:400px;
    margin-top:70px;
    
    }
    * {box-sizing: border-box}
    .mySlides_fade {
      display: '';
    
    }
    img {vertical-align: middle;}
    .slideshow-container {
      width:100%;
      position: relative;
      margin: auto;
    
    }
    .image{
      height: 400px;
      width:100%;
    
    }
    .prev{
      position: absolute;
      color:red;
      top:200px;
      left:100px;
      z-index:1;
    }
    .next{
      position: absolute;
      color:red;
      top:200px;
      right:100px;
      z-index:1;
    }